/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('media/img/fondos/fondoWeb.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Fondo oscuro */
    color: #ffffff;
    /* Texto blanco */
    margin: 0;
    padding: 0;
}



.container {
    width: 80%;
    margin: 0 auto;
}

/* Estilo para el header */
header {
    background-color: rgba(30, 30, 30, 0.8);
    /* Cabecera semi-transparente */
    padding: 20px;
    text-align: center;
}

/* Estilo para la barra de navegación */
.navbar {
    display: flex;
    justify-content: center;
    background-color: rgba(30, 30, 30, 0.8);
    /* Barra de navegación semi-transparente */
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
    margin: 0 15px;
}

.navbar a:hover {
    color: #4CAF50;
    /* Color verde neon al pasar el ratón */
}

/* Estilo para la sección de colores */
.colores {
    text-align: center;
    padding: 20px;
}

.colores p {
    font-size: 1.5em;
}

.colores img {
    width: 100px;
    margin: 10px;
    
}

/* Estilo para el mensaje especial */
#special-offer {
    text-align: center;
    font-size: 1.5em;
    color: #4CAF50;
    /* Color verde neon */
    margin-top: 20px;
}

.productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    flex-grow: 1; /* Permite que la sección de productos crezca para llenar el espacio restante. */
}
.producto {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    
    text-align: center;
    background-color: transparent;
}
.producto img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}
h2 {
    font-size: 24px;
    margin: 10px 0;
    text-transform: uppercase;
}
p {
    font-size: 16px;
    margin: 10px 0;
}
.precio {
    font-size: 24px;
    color: #00ffcc; /* Color neon para el precio */
}
button {
    background: #0011ff; /* Fondo con color neon */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.whatsapp-button {
    margin-top: 10px;
    text-align: center;
}

/* Estilo para el pie de página */
footer {
    background-color: rgba(30, 30, 30, 0.8);
    /* Pie de página semi-transparente */
    padding: 10px;
    text-align: center;
}

/* Estilos para sombras con colores neon */
.neon-box {
    box-shadow: 0 0 10px rgba(124, 252, 0, 0.8);
    /* Sombra verde neon */
}

.neon-text {
    text-shadow: 0 0 10px rgba(124, 252, 0, 0.8);
    /* Texto con sombra verde neon */
}
/* Define la animación "pulse" */

#special-offer {
    font-size: 28px;
    font-weight: bold;
    color: #fffb00; /* Color neon */
    margin-top: 30px;
    animation: pulse 2s infinite; /* Aplica la animación "pulse" */
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}